
.topnav {
    background-color: #a86c93;
    overflow: hidden;
}

    .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

        .topnav a:hover {
            background-color: #ddd;
            color: #DFA0C9;
        }

        .topnav a.active {
            background-color: #DFA0C9;
            color: white;
        }


